*{
    margin:0;
    padding:0;
  }
  
  header{
    border-bottom: 1px solid #ff03ab;
    height: 10vh;
    display:flex;
  }
  
  body{
    background-color: #fcb0e3;
  }

  .bi{
    color: #ff03ab;
  }

  #logo{
    width: 30vw;
    height: 10vh;
  }
  
  #logo img{
    height: 12vh;
    margin-left: 7%;
    width: 12vh;
    margin-top: -2%;
  }

  p{
    color: #ff03ab;
  }

  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  /*
  Flex-wrap serve para enviar os itens para baixo quando não couberem mais (evita rolagem)
  */
  
  .card a{
    text-decoration: none;
  }

  .bi bi-plus-square-fill{
    color: #ff03ab;
  }

  .card{
    margin-bottom: 20px;
  }
  
  #modal-view{
    border:1px solid #ff03ab;
    position: absolute;
    display:none;
    width: 96%;
    padding:10px;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #ff03ab;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 96vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }

  .card :hover{
    cursor: pointer;
  }

  .card-body{
    margin: 10%;
  }
  
  .bi bi-plus-square-fill{
    margin-left: 7%;
  }